/* Alvian Harisnur / L200170132 */
body {background: rgb(255, 146, 199);}
h2 {font-family: comic sans ms;
    background-color: rgb(238, 255, 0);
    text-align: center;    
}
table {background: rgb(49, 224, 255);}
.td{font-weight: bold;}
